
@{
    ViewBag.Title = "Panel";
}

<br /><br /><br />

 <div class="panel panel-default">
     <div class="panel-heading">

         Panel Princiapl
     </div>
     <div class="panel-body">

         <span><label>Vendedor - Cajero</label></span>
         <center>
             <!--VENDEDOR O CAJERO-->
             <div class="col-md-12">
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/Vent.png" alt="Alternate Text" />
                         <span>Vender</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/equipo.png" alt="Alternate Text" />
                         <span>Clientes</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/dinero64.png" alt="Alternate Text" />
                         <span>Caja</span>
                     </a>

                     <hr />
                 </div>


             </div>

         </center>


         <span><label>Almacen:</label></span>
         <center>
             <!--ALMACEN-->
             <div class="col-md-12">
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/Compras64.png" alt="Alternate Text" />
                         <span>Compras</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/entrega64.png" alt="Alternate Text" />
                         <span>Proveedores</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/cajas.png" alt="Alternate Text" />
                         <span>Productos</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/inventario64.png" alt="Alternate Text" />
                         <span>Inventario</span>
                     </a>
                     <hr />

                 </div>


             </div>

         </center>



         <span><label>Administrador:</label></span>
         <center>
             <!--ADMINISTRADOR-->
             <div class="col-md-12">
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/Dashboard64.png" alt="Alternate Text" />
                         <span>Dashboard</span>
                     </a>


                 </div>

                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/Accesos64.png" alt="Alternate Text" />
                         <span>Empleados</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/Empresa64.png" alt="Alternate Text" />
                         <span>Empresa</span>
                     </a>


                 </div>
                 <div class="col-md-1">
                     <a href="#">
                         <img src="~/Content/img/imagenes/Configuraciones64.png" alt="Alternate Text" />
                         <span>Configuraciones</span>
                     </a>


                 </div>


             </div>

         </center>



     </div>
 </div>

